<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button routerLink="/tabs/faunalist" routerDirection="root"></ion-back-button>
        </ion-buttons>
    <ion-title >Información: {{item.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
        <img src="{{item.image}}" style="display:block;margin:auto;"/>
    </ion-row>
  </div>
  <ion-card>
      <ion-card-content>
        <ion-card-title>
          <p><b>Nombre: </b>{{item.title}}</p>
          </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <p><b>Nombre científico: </b>{{item.scientificName}}</p>
          <p><b>Nombre maya: </b>{{item.mayaName}}</p>
          <p><b>Clase: </b>{{item.type}}</p>
          </ion-card-title>
      </ion-card-content>
    </ion-card>
  <ion-card>
    <ion-card-content style="text-align: justify;">
        <b style="color:black">Descripción: </b>
        <ion-text  color="dark">{{item.description}}</ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content style="text-align: justify;">
      <b style="color:black">Impactos: </b>
      <ion-text  color="dark">{{item.impactos}}</ion-text>
  </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content style="text-align: justify;">
        <b style="color:black">Bibliografía: </b>
        <ion-text  color="dark">{{item.bibliografia}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
